@import 'variables';

#foursquareModal .response-body{
    display: none;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.prizeBox{
    max-width: 100px;

    img{
        width: 100%;
    }
}

.loading-indicator{
    font-size: 40px;
    position: relative;
    display: none;
}

/************
LOGIN
************/
.loginContainer {
    #userLoginForm{

    }

    .error_msg {
        margin-top: 10px;
    }
}

/************
INVENTORY
************/
.inventoryContainer .inventoryItem img{
    max-height: 125px;
}

/************
TIMELINE
************/
.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 3px;
        margin-left: -1.5px;
        background-color: #eeeeee;
    }

    li {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;

        &::before,
        ::after {
            content: " ";
            display: table;
        }
        &::before {

        }

        &::after {
            clear: both;
        }

        .timeline-panel {
            float: left;
            position: relative;
            width: 46%;
            padding: 20px;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
            box-shadow: 0 1px 6px rgba(0,0,0,0.175);

            &::before {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 26px;
                right: -15px;
                border-top: 15px solid transparent;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                border-left: 15px solid #ccc;
            }

            &::after {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 27px;
                right: -14px;
                border-top: 14px solid transparent;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                border-left: 14px solid #fff;
            }
        }

        .timeline-badge {
            z-index: 100;
            position: absolute;
            top: 16px;
            left: 50%;
            width: 50px;
            height: 50px;
            margin-left: -25px;
            border-radius: 50% 50% 50% 50%;
            text-align: center;
            font-size: 1.4em;
            line-height: 50px;
            color: #fff;
            background-color: #999999;
        }

        &.timeline-inverted {
            .timeline-panel {
                float: right;

                &::before {
                    right: auto;
                    left: -15px;
                    border-right-width: 15px;
                    border-left-width: 0;
                }

                &::after {
                    right: auto;
                    left: -14px;
                    border-right-width: 14px;
                    border-left-width: 0;
                }
            }
        }
    }
}
