<div class="container inventoryContainer">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-9">
            <div class="well inventory-money-display">
                <i class="moneyIcon fa fa-money fa-2" aria-hidden="true"></i> Money: <%= data.money %>
            </div>
        </div>
    </div>
    <div class="row">
        <% _.each(data.inventoryItems, function(item){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail inventoryItem box-shadow--4dp">
                    <div class="inventory-image">
                        <img src="<%= item.item_image_location %>" />
                    </div>
                    <div class="caption">
                        <h3><%= item.item_name %></h3>
                        <p>This is item #<%= item.unique_id %> of the set!<br />You won this prize on <%= item.timestamp %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div><!-- row -->
</div><!-- container -->
