<div class="container inventoryContainer">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well inventory-money-display">
                <div class="input-group">
                    <span class="input-group-addon"><i class="moneyIcon fa fa-money fa-2" aria-hidden="true"></i></span>
                    <input readonly type="text" class="form-control" aria-label="Amount" value="<%= data.money %>">
                    <% if(data.money >= 100){ %>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="prizeGift fa fa-gift" aria-hidden="true"></i></button>
                        </span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <% _.each(data.inventoryItems, function(item){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail inventoryItem box-shadow--4dp">
                    <div class="inventory-image">
                        <img src="<%= item.item_image_location %>" />
                    </div>
                    <div class="caption">
                        <h3><%= item.item_name %></h3>
                        <p>This is item #<%= item.unique_id %> of the set!<br />You won this prize on <%= item.timestamp %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div><!-- row -->
</div><!-- container -->

<div id="payForPrizeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="payForPrizeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Well, open it...</h4>
            </div>
            <div class="the-gift-cover text-center modal-body">
                <i class="the-gift fa fa-gift fa-5"></i>
            </div>
            <div class="the-gift-reveal modal-body">
                <div class="well prize-well"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
