<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form id="userLoginForm" class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <p class="error_msg text-center text-warning"></p>
        </div>
    </div>
</div> <!-- /container -->
