<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="mapWrapper">
                <div id="map-canvas" style="width: 100%; height: 400px;"></div>
            </div>
        </div><!--col-md-8-->
        <div class="col-md-4">
            <p>LAST SEEN AT:</p>
            <h4 class="lastSeenLabel">PLACE NAME</h4>
            --REVIEW--
        </div><!--col-md-4-->
    </div>
</div><!-- container -->

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
                <div class="panel-body">
                    <ul class="timeline">
                        <% _.each(data, function(checkin, index){ %>
                            <% console.log(checkin) %>
                            <li class="<% if (index%2 ==0) { %>timeline-inverted<% } %>">
                                <div class="timeline-badge"><i class="fa fa-check"></i></div>
                                <div class="timeline-panel">
                                    <h4 class="timeline-title"><%= checkin.name %></h4>
                                    <% if ( !_.isEmpty(checkin.review) ){ %>
                                        <blockquote><p><%= checkin.review %></p></blockquote>
                                    <% } %>
                                    <p><small><i class="fa fa-clock-o"></i>checkin.timestamp</small></p>
                                </div>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
		</div><!-- col-md-8 -->
	</div><!-- row -->
</div><!-- container -->
