<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="mapWrapper">
                <div id="map-canvas" style="width: 100%; height: 400px;"></div>
            </div>
        </div><!--col-md-8-->
        <div class="col-md-4">
            <p>LAST SEEN AT:</p>
            <h4 class="lastSeenLabel">PLACE NAME</h4>
            --REVIEW--
        </div><!--col-md-4-->
    </div>
</div><!-- container -->

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
                <div class="panel-body">
                    <ul class="timeline">
                        <% _.each(data, function(checkin){ %>
                            <% console.log(checkin); %>
                            <li>
                                <div class="timeline-badge"><i class="fa fa-check"></i></div>
                                <div class="timeline-panel">
                                    <h4 class="timeline-title">TITLE</h4>
                                    <blockquote><p>review</p></blockquote>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
		</div><!-- col-md-8 -->
	</div><!-- row -->
</div><!-- container -->
